In [2]:
#aggregate functions = reduces a set of values into a single summary value 
# used to summarize and analyze data often used with the groupby() function
import pandas as pd
df= pd.read_csv("../Datasets/pokemon.csv")

print(f" averages:\n {df.mean(numeric_only=True)}")

 averages:
 No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [3]:
print(f" min:\n {df.min(numeric_only=True)}")

 min:
 No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

In [4]:
print(f" max:\n {df.max(numeric_only=True)}")

 max:
 No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

In [5]:
#count : number of values in a column
print(df.count())

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

Aggregate functions for a single column

In [6]:
print(df["Height"].mean())
print(df["Height"].count())

1.2
150

Group By function

In [14]:
group = df.groupby("Type1")
print(group)
print(group["Height"].count())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000027E7C6149E0>
Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Height, dtype: int64