The process of fixing/removing: incomplete, incorrect, irrevalent data

In [56]:
import pandas as pd
df=pd.read_csv("../Datasets/pokemon.csv")

In [57]:
#clear columns
df= df.drop(columns=["Legendary"])
df

      No        Name    Type1   Type2  Height  Weight
0      1   Bulbasaur    Grass  Poison     0.7     6.9
1      2     Ivysaur    Grass  Poison     1.0    13.0
2      3    Venusaur    Grass  Poison     2.0   100.0
3      4  Charmander     Fire     NaN     0.6     8.5
4      5  Charmeleon     Fire     NaN     1.1    19.0
..   ...         ...      ...     ...     ...     ...
145  146     Moltres     Fire  Flying     2.0    60.0
146  147     Dratini   Dragon     NaN     1.8     3.3
147  148   Dragonair   Dragon     NaN     4.0    16.5
148  149   Dragonite   Dragon  Flying     2.2   210.0
149  150      Mewtwo  Psychic     NaN     2.0   122.0

[150 rows x 6 columns]

In [58]:
#handling missing data
df=df.dropna(subset=["Type2"])
df

      No        Name     Type1   Type2  Height  Weight
0      1   Bulbasaur     Grass  Poison     0.7     6.9
1      2     Ivysaur     Grass  Poison     1.0    13.0
2      3    Venusaur     Grass  Poison     2.0   100.0
5      6   Charizard      Fire  Flying     1.7    90.5
11    12  Butterfree       Bug  Flying     1.1    32.0
..   ...         ...       ...     ...     ...     ...
141  142  Aerodactyl      Rock  Flying     1.8    59.0
143  144    Articuno       Ice  Flying     1.7    55.4
144  145      Zapdos  Electric  Flying     1.6    52.6
145  146     Moltres      Fire  Flying     2.0    60.0
148  149   Dragonite    Dragon  Flying     2.2   210.0

[67 rows x 6 columns]

In [59]:
df=pd.read_csv("../Datasets/pokemon.csv")
df=df.fillna({"Type2" : "None"})
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire    None     0.6     8.5          0
4      5  Charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon    None     1.8     3.3          0
147  148   Dragonair   Dragon    None     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

In [60]:
df=pd.read_csv("../Datasets/pokemon.csv")
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [61]:
df=pd.read_csv("../Datasets/pokemon.csv")
group=df.groupby("Type2")
value=group["No"].count().idxmax()

df.fillna({"Type2" : value})

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire  Flying     0.6     8.5          0
4      5  Charmeleon     Fire  Flying     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon  Flying     1.8     3.3          0
147  148   Dragonair   Dragon  Flying     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic  Flying     2.0   122.0          1

[150 rows x 7 columns]

In [62]:
#Standardize text
df["Name"]= df["Name"].str.lower()
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    Grass  Poison     0.7     6.9          0
1      2     ivysaur    Grass  Poison     1.0    13.0          0
2      3    venusaur    Grass  Poison     2.0   100.0          0
3      4  charmander     Fire     NaN     0.6     8.5          0
4      5  charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0          1
146  147     dratini   Dragon     NaN     1.8     3.3          0
147  148   dragonair   Dragon     NaN     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [63]:
#Fix datatypes
df["Legendary"]= df["Legendary"].astype(bool)
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    Grass  Poison     0.7     6.9      False
1      2     ivysaur    Grass  Poison     1.0    13.0      False
2      3    venusaur    Grass  Poison     2.0   100.0      False
3      4  charmander     Fire     NaN     0.6     8.5      False
4      5  charmeleon     Fire     NaN     1.1    19.0      False
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0       True
146  147     dratini   Dragon     NaN     1.8     3.3      False
147  148   dragonair   Dragon     NaN     4.0    16.5      False
148  149   dragonite   Dragon  Flying     2.2   210.0      False
149  150      mewtwo  Psychic     NaN     2.0   122.0       True

[150 rows x 7 columns]

In [64]:
df=pd.read_csv("../Datasets/pokemon.csv")
df

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  Bulbasaur    Grass  Poison     0.7     6.9          0
1      1  Bulbasaur    Grass  Poison     0.7     6.9          0
2      1  Bulbasaur    Grass  Poison     0.7     6.9          0
3      1  Bulbasaur    Grass  Poison     0.7     6.9          0
4      2    Ivysaur    Grass  Poison     1.0    13.0          0
..   ...        ...      ...     ...     ...     ...        ...
148  146    Moltres     Fire  Flying     2.0    60.0          1
149  147    Dratini   Dragon     NaN     1.8     3.3          0
150  148  Dragonair   Dragon     NaN     4.0    16.5          0
151  149  Dragonite   Dragon  Flying     2.2   210.0          0
152  150     Mewtwo  Psychic     NaN     2.0   122.0          1

[153 rows x 7 columns]

In [65]:
#remove duplicate values
df=df.drop_duplicates()
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
4      2     Ivysaur    Grass  Poison     1.0    13.0          0
5      3    Venusaur    Grass  Poison     2.0   100.0          0
6      4  Charmander     Fire     NaN     0.6     8.5          0
7      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
148  146     Moltres     Fire  Flying     2.0    60.0          1
149  147     Dratini   Dragon     NaN     1.8     3.3          0
150  148   Dragonair   Dragon     NaN     4.0    16.5          0
151  149   Dragonite   Dragon  Flying     2.2   210.0          0
152  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]