The process of fixing/removing: incomplete, incorrect, irrevalent data

In [137]:
import pandas as pd
df=pd.read_csv("../Datasets/pokemon.csv")

In [138]:
#clear columns
df= df.drop(columns=["Legendary"])
df

      No       Name    Type1   Type2  Height  Weight
0      1  Bulbasaur    Grass  Poison     0.7     6.9
1      1  Bulbasaur    Grass  Poison     0.7     6.9
2      1  Bulbasaur    Grass  Poison     0.7     6.9
3      1  Bulbasaur    Grass  Poison     0.7     6.9
4      2    Ivysaur    Grass  Poison     1.0    13.0
..   ...        ...      ...     ...     ...     ...
148  146    Moltres     Fire  Flying     2.0    60.0
149  147    Dratini   Dragon     NaN     1.8     3.3
150  148  Dragonair   Dragon     NaN     4.0    16.5
151  149  Dragonite   Dragon  Flying     2.2   210.0
152  150     Mewtwo  Psychic     NaN     2.0   122.0

[153 rows x 6 columns]

In [139]:
#handling missing data
df=df.dropna(subset=["Type2"])
df

      No        Name     Type1   Type2  Height  Weight
0      1   Bulbasaur     Grass  Poison     0.7     6.9
1      1   Bulbasaur     Grass  Poison     0.7     6.9
2      1   Bulbasaur     Grass  Poison     0.7     6.9
3      1   Bulbasaur     Grass  Poison     0.7     6.9
4      2     Ivysaur     Grass  Poison     1.0    13.0
..   ...         ...       ...     ...     ...     ...
144  142  Aerodactyl      Rock  Flying     1.8    59.0
146  144    Articuno       Ice  Flying     1.7    55.4
147  145      Zapdos  Electric  Flying     1.6    52.6
148  146     Moltres      Fire  Flying     2.0    60.0
151  149   Dragonite    Dragon  Flying     2.2   210.0

[70 rows x 6 columns]

In [140]:
df=pd.read_csv("../Datasets/pokemon.csv")
df=df.fillna({"Type2" : "None"})
df

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  Bulbasaur    Grass  Poison     0.7     6.9          0
1      1  Bulbasaur    Grass  Poison     0.7     6.9          0
2      1  Bulbasaur    Grass  Poison     0.7     6.9          0
3      1  Bulbasaur    Grass  Poison     0.7     6.9          0
4      2    Ivysaur    Grass  Poison     1.0    13.0          0
..   ...        ...      ...     ...     ...     ...        ...
148  146    Moltres     Fire  Flying     2.0    60.0          1
149  147    Dratini   Dragon    None     1.8     3.3          0
150  148  Dragonair   Dragon    None     4.0    16.5          0
151  149  Dragonite   Dragon  Flying     2.2   210.0          0
152  150     Mewtwo  Psychic    None     2.0   122.0          1

[153 rows x 7 columns]

In [141]:
df=pd.read_csv("../Datasets/pokemon.csv")
df

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  Bulbasaur    Grass  Poison     0.7     6.9          0
1      1  Bulbasaur    Grass  Poison     0.7     6.9          0
2      1  Bulbasaur    Grass  Poison     0.7     6.9          0
3      1  Bulbasaur    Grass  Poison     0.7     6.9          0
4      2    Ivysaur    Grass  Poison     1.0    13.0          0
..   ...        ...      ...     ...     ...     ...        ...
148  146    Moltres     Fire  Flying     2.0    60.0          1
149  147    Dratini   Dragon     NaN     1.8     3.3          0
150  148  Dragonair   Dragon     NaN     4.0    16.5          0
151  149  Dragonite   Dragon  Flying     2.2   210.0          0
152  150     Mewtwo  Psychic     NaN     2.0   122.0          1

[153 rows x 7 columns]

In [142]:
df=pd.read_csv("../Datasets/pokemon.csv")
group=df.groupby("Type2")
value=group["No"].count().idxmax()

df.fillna({"Type2" : value})

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  Bulbasaur    Grass  Poison     0.7     6.9          0
1      1  Bulbasaur    Grass  Poison     0.7     6.9          0
2      1  Bulbasaur    Grass  Poison     0.7     6.9          0
3      1  Bulbasaur    Grass  Poison     0.7     6.9          0
4      2    Ivysaur    Grass  Poison     1.0    13.0          0
..   ...        ...      ...     ...     ...     ...        ...
148  146    Moltres     Fire  Flying     2.0    60.0          1
149  147    Dratini   Dragon  Poison     1.8     3.3          0
150  148  Dragonair   Dragon  Poison     4.0    16.5          0
151  149  Dragonite   Dragon  Flying     2.2   210.0          0
152  150     Mewtwo  Psychic  Poison     2.0   122.0          1

[153 rows x 7 columns]

In [143]:
#Standardize text
df["Name"]= df["Name"].str.lower()
print(df)

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  bulbasaur    Grass  Poison     0.7     6.9          0
1      1  bulbasaur    Grass  Poison     0.7     6.9          0
2      1  bulbasaur    Grass  Poison     0.7     6.9          0
3      1  bulbasaur    Grass  Poison     0.7     6.9          0
4      2    ivysaur    Grass  Poison     1.0    13.0          0
..   ...        ...      ...     ...     ...     ...        ...
148  146    moltres     Fire  Flying     2.0    60.0          1
149  147    dratini   Dragon     NaN     1.8     3.3          0
150  148  dragonair   Dragon     NaN     4.0    16.5          0
151  149  dragonite   Dragon  Flying     2.2   210.0          0
152  150     mewtwo  Psychic     NaN     2.0   122.0          1

[153 rows x 7 columns]

In [144]:
#Fix datatypes
df["Legendary"]= df["Legendary"].astype(bool)
df

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  bulbasaur    Grass  Poison     0.7     6.9      False
1      1  bulbasaur    Grass  Poison     0.7     6.9      False
2      1  bulbasaur    Grass  Poison     0.7     6.9      False
3      1  bulbasaur    Grass  Poison     0.7     6.9      False
4      2    ivysaur    Grass  Poison     1.0    13.0      False
..   ...        ...      ...     ...     ...     ...        ...
148  146    moltres     Fire  Flying     2.0    60.0       True
149  147    dratini   Dragon     NaN     1.8     3.3      False
150  148  dragonair   Dragon     NaN     4.0    16.5      False
151  149  dragonite   Dragon  Flying     2.2   210.0      False
152  150     mewtwo  Psychic     NaN     2.0   122.0       True

[153 rows x 7 columns]

In [145]:
df=pd.read_csv("../Datasets/pokemon.csv")
df

      No       Name    Type1   Type2  Height  Weight  Legendary
0      1  Bulbasaur    Grass  Poison     0.7     6.9          0
1      1  Bulbasaur    Grass  Poison     0.7     6.9          0
2      1  Bulbasaur    Grass  Poison     0.7     6.9          0
3      1  Bulbasaur    Grass  Poison     0.7     6.9          0
4      2    Ivysaur    Grass  Poison     1.0    13.0          0
..   ...        ...      ...     ...     ...     ...        ...
148  146    Moltres     Fire  Flying     2.0    60.0          1
149  147    Dratini   Dragon     NaN     1.8     3.3          0
150  148  Dragonair   Dragon     NaN     4.0    16.5          0
151  149  Dragonite   Dragon  Flying     2.2   210.0          0
152  150     Mewtwo  Psychic     NaN     2.0   122.0          1

[153 rows x 7 columns]

In [146]:
#remove duplicate values
df=df.drop_duplicates()
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
4      2     Ivysaur    Grass  Poison     1.0    13.0          0
5      3    Venusaur    Grass  Poison     2.0   100.0          0
6      4  Charmander     Fire     NaN     0.6     8.5          0
7      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
148  146     Moltres     Fire  Flying     2.0    60.0          1
149  147     Dratini   Dragon     NaN     1.8     3.3          0
150  148   Dragonair   Dragon     NaN     4.0    16.5          0
151  149   Dragonite   Dragon  Flying     2.2   210.0          0
152  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [147]:
# Calculate the minimum height
min_height = df["Height"].min()

# Fill missing Height values with the minimum
df["Height"] = df["Height"].fillna(min_height)
df

C:\Users\bened\AppData\Local\Temp\ipykernel_25900\143596100.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Height"] = df["Height"].fillna(min_height)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
4      2     Ivysaur    Grass  Poison     1.0    13.0          0
5      3    Venusaur    Grass  Poison     2.0   100.0          0
6      4  Charmander     Fire     NaN     0.6     8.5          0
7      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
148  146     Moltres     Fire  Flying     2.0    60.0          1
149  147     Dratini   Dragon     NaN     1.8     3.3          0
150  148   Dragonair   Dragon     NaN     4.0    16.5          0
151  149   Dragonite   Dragon  Flying     2.2   210.0          0
152  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [148]:
df = df.fillna({
    "Weight": df["Weight"].mean(),
    "Height": df["Height"].median(),
    "Type2": "None" # Combining your existing logic
})
df

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
4      2     Ivysaur    Grass  Poison     1.0    13.0          0
5      3    Venusaur    Grass  Poison     2.0   100.0          0
6      4  Charmander     Fire    None     0.6     8.5          0
7      5  Charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
148  146     Moltres     Fire  Flying     2.0    60.0          1
149  147     Dratini   Dragon    None     1.8     3.3          0
150  148   Dragonair   Dragon    None     4.0    16.5          0
151  149   Dragonite   Dragon  Flying     2.2   210.0          0
152  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

In [149]:
min = df["Height"].min()
min

0.2

In [154]:
group=df.groupby(["Type1"])
print(group)
print(group["Height"].min())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002317F45DD00>
Type1
Bug         0.3
Dragon      1.8
Electric    0.3
Fairy       0.6
Fighting    0.5
Fire        0.6
Ghost       1.3
Grass       0.4
Ground      0.2
Ice         1.4
Normal      0.3
Poison      0.4
Psychic     0.9
Rock        0.4
Water       0.3
Name: Height, dtype: float64